<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
    {{>header}}

    <section id="body">
    <div class="left">
      <h1>Searching For Jobs <span id="question">?</span></h1>
      <p>Get <span id="multiple-text"></span>!!</p>
    </div>
    <div class="right">
      <video src="videos/background.mp4" autoplay loop></video>
    </div>
    
  </section>
    

  <section id="body2">
    <h1 id="body2head">Keys</h1>
    <div class="key">
      <div class="image">
        <img src="images/jobposting.jpg" alt="failed to load">
      </div>
      <div class="text">
        <h2>Job Posting</h2>
      </div>
    </div>
    <div class="key">
      <div class="image">
        <img src="images/searchfiltering.jpg" alt="">
      </div>
      <div class="text">
        <h2>Candidate Searching & filtering</h2>
      </div>
    </div>
    <div class="key">
      <div class="image">
        <img src="images/resume.jpg" alt="">
      </div>
      <div class="text">
        <h2>Resume/CV Parsing</h2>
      </div>
    </div>
    <div class="key">
      <div class="image">
        <img src="images/communication.jpg" alt="">
      </div>
      <div class="text">
        <h2>Communication & Collaboration</h2>
      </div>
    </div>
    <div class="key">
      <div class="image">
        <img src="images/mobile.jpg" alt="">
      </div>
      <div class="text">
        <h2>Mobile Accessibility</h2>
      </div>
    </div>
    <div class="key">
      <div class="image">
        <img src="images/datasecurity.jpg" alt="">
      </div>
      <div class="text">
        <h2>Data security and Privacy</h2>
      </div>
    </div>
    <div class="key">
      <div class="image">
        <img src="images/multilanguage.jpg" alt="">
      </div>
      <div class="text">
        <h2>Multi-Language</h2>
      </div>
    </div>
    <div class="key">
      <div class="image">
        <img src="images/branding.jpg" alt="">
      </div>
      <div class="text">
        <h2>Employer Branding</h2>
      </div>
    </div>
  </section>

    {{>footer}}

    
  <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>


  <script src="https://unpkg.com/scrollreveal"></script>

  <script src="js/myscript.js"></script>

</body>
</html>