<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="css/signup.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/recruitment.css">
</head>
<body>
    {{>header}}

    <section id="loginContainer">
        <div class="bg" id="bg1"><img src="images/shield.png" alt=""></div>
    <div class="bg" id="bg2"><img src="images/lock.png" alt=""></div>
    <div class="bg" id="bg3"><img src="images/lock.png" alt=""></div>
    <div class="bg" id="bg4"><img src="images/cloud.png" alt=""></div>
    <div class="bg" id="bg5"><img src="images/lock.png" alt=""></div>
    
    <div id="recruit">
        <div class="top">
            <img src="images/CANDIDATE.png" alt="">
            <h1>Candidate Search <img src="images/9469550_4198717.png" alt=""></h1>
        </div>
        <div class="bottom">
            <img src="images/user.png" alt="">
            <div class="cont">
                <label for="location">Location of candidate</label>
                <input type="text" name="location" placeholder="Enter the location">
            </div>
            <div class="cont">
                <label for="role">Required Job roles</label>
                <input type="text" name="role" placeholder="Enter the role">
            </div>
            <button id="generate">Generate List</button>
        </div>
    </div>
    </section>

    {{>footer}}


     <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
  
  
    <script src="https://unpkg.com/scrollreveal"></script>
 
    <script src="js/recruitment.js"></script>
    <script src="js/myscript.js"></script>

</body>
</html>