<section id="footer">
    <div class="left">
      <p>BeHired Company</p>
      <p>H-4-5 Zone, Pitampura,
        Near Sainik Vihar, Delhi-110034</p>
    </div>
    <div class="mid">
      <h3>Contact us</h3>
      <p><i class='bx bx-envelope'></i>rajsharmahwh19@gmail.com</p>
      <p><i class='bx bx-envelope'></i>abc123@gmail.com</p>
    </div>
    <div class="right">
      <a href="#"><i class='bx bxl-instagram'></i></a>
      <a href="#"><i class='bx bxl-twitter'></i></a>
      <a href="#"><i class='bx bxl-linkedin-square'></i></a>
    </div>
  </section>