<section id="nav">
    <h1>BeHired</h1>

    <div id="nav-items">
      <a href="/">Home</a>
      <a href="/recruitment">Recruitment</a>
      <a href="#">Services</a>
      <a href="/login">Login</a>
    </div>
    <div id="menu">
      <i class='bx bx-menu'></i>
    </div>
    <div id="nav-items-display">
      <a href="/">Home</a>
      <a href="/recruitment">Recruitment</a>
      <a href="#">Services</a>
      <a href="/login">Login</a>
    </div>
  </section>